[Desktop Entry]
Name=Skype Call Recorder
Comment=Tool to record Skype calls to MP3, Ogg Vorbis or WAV files
Exec=skype-call-recorder
Icon=skype-call-recorder
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Utility;TelephonyTools;Recorder;InstantMessaging;Qt;
StartupNotify=false
